$border-radius: 7px;

.board {
  border-collapse: collapse;

  tr {
    &:first-child > td {
      &:first-child .wall {
        border-top-left-radius: $border-radius;
      }
      &:last-child .wall {
        border-top-right-radius: $border-radius;
      }
    }
    &:last-child > td {
      &:first-child .wall {
        border-bottom-left-radius: $border-radius;
      }
      &:last-child .wall {
        border-bottom-right-radius: $border-radius;
      }
    }
  }

  td {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    position: relative;

    & > div {
      width: 20px;
      height: 20px;
      overflow: hidden;
    }
  }
}
