$border-radius: 7px;

@mixin real-pseudo-element() {
  content: '';
  display: block;
  position: absolute;
}

@mixin directional() {
  &.a_left {
    transform: rotate(-90deg);
  }

  &.a_right {
    transform: rotate(90deg);
  }

  &.a_down {
    transform: rotate(180deg);
  }
}

.entity {
  position: relative;
  width: 20px;
  height: 20px;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }

  &.wall {
    background: #cecece;

    &:before {
      @include real-pseudo-element();
      width: 14px;
      height: 14px;
      border: 2px solid;
      border-color: #fff #b9b9b9 #9a9a9a #f8f8f9;
      top: 3px;
      left: 3px;
    }

    &.a_1 {
      border-bottom-left-radius: $border-radius;
    }

    &.a_2 {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &.a_3 {
      border-bottom-right-radius: $border-radius;
    }

    &.a_4 {
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }

    &.a_6 {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &.a_7 {
      border-top-left-radius: $border-radius;
    }

    &.a_8 {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &.a_9 {
      border-top-right-radius: $border-radius;
    }
  }

  &.edible {
    width: 14px;
    height: 14px;
    top: 3px;
    left: 3px;
    overflow: visible;
    position: absolute;
    background-color: #fff700;

    &:before,
    &:after {
      @include real-pseudo-element();
      border: 1px dotted;
      border-color: #888;
      border-radius: 3px;
    }

    &:before {
      top: -1px;
      left: -1px;
      bottom: -1px;
      right: -1px;
    }
    &:after {
      top: -2px;
      left: -2px;
      bottom: -2px;
      right: -2px;
    }
  }

  &.player {
    &:before {
      @include real-pseudo-element();
      width: 20px;
      height: 20px;
      border: 3px solid;
      border-color: #000;
      border-radius: 20px;
      background-color: #0f0;
    }
  }

  &.diamond {
    &:before {
      @include real-pseudo-element();
      width: 12px;
      height: 12px;
      border: 6px solid;
      border-color: #0ff #00f #00c3c3 #0000c3;
      transform: rotate(-45deg);
      top: 4px;
      left: 4px;
    }

    &.twinkle:before {
      border-color: #00f #00c3c3 #0000c3 #0ff;
    }
  }

  &.block,
  &.turner {
    line-height: 12px;
    color: red;
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid;
    border-color: #000;
    border-radius: 20px;
    background-color: #fff700;
    top: 1px;
    left: 1px;

    &.turner,
    &.a_square {
      border-radius: 4px;
    }
  }

  &.rocky,
  &.slider {
    @include directional();

    &:before {
      @include real-pseudo-element();
      color: red;
      text-align: center;
      font-family: sans-serif;
      font-size: 38px;
      overflow: hidden;
      content: 'l';
      width: 18px;
      height: 18px;
      border: 2px solid;
      border-color: #000;
      border-radius: 20px;
      background-color: #fff700;
      top: 1px;
      left: 1px;
      line-height: 38px;
    }
    &:after {
      @include real-pseudo-element();
      width: 14px;
      height: 7px;
      border-style: solid;
      border-color: transparent transparent #f00 transparent;
      border-width: 7px;
      border-top-width: 0;
      top: 3px;
      left: 3px;
    }
  }
  &.slider:before {
    border-radius: 4px;
  }

  &.sentry {
    @include directional();
    transform-origin: 50% 1px;

    position: absolute;
    width: 18px;
    height: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 2px solid #000;
    border-top-width: 0;
    bottom: 1px;
    left: 1px;
    z-index: 2;
    overflow: visible;
    background: repeating-linear-gradient(
      90deg,
      #fff700,
      #fff700 5px,
      red 5px,
      red 9px,
      #fff700 9px,
      #fff700 14px
    );

    &:before {
      @include real-pseudo-element();

      transform: rotate(-45deg);
      width: 10px;
      height: 10px;
      border-style: solid;
      border-color: red red transparent transparent;
      border-width: 5px;
      top: -5px;
      left: 2px;
      z-index: 3;
    }
    &:after {
      @include real-pseudo-element();
      transform: rotate(-45deg);
      width: 14px;
      height: 14px;
      border-style: solid;
      border-color: black black transparent transparent;
      border-width: 7px;
      border-radius: 3px;
      border-top-left-radius: 2.5px;
      border-bottom-right-radius: 2.5px;
      top: -7px;
      left: 0px;
      z-index: 1;
    }
  }

  &.magnet {
    position: absolute;
    border: 2px solid black;
    border-top: 0px transparent;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    bottom: 1px;
    left: 1px;
    overflow: visible;

    &,
    &:before {
      width: 18px;
      height: 6px;
      background: red;
      z-index: 1;
    }

    &:before {
      @include real-pseudo-element();
      border: 2px solid black;
      border-bottom: 0px transparent;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      top: -12px;
      left: -2px;
    }

    &:after {
      @include real-pseudo-element();
      height: 10px;
      width: 14px;
      position: absolute;
      top: -8px;
      left: 0;
      //background: #fff700;
      background: repeating-linear-gradient(
        0deg,
        red,
        red 1px,
        #fff700 1px,
        #fff700 9px,
        red 9px,
        red
      );
      box-sizing: border-box;
      border-left: 2px solid black;
      border-right: 2px solid black;
      z-index: 2;
    }

    &.a_horizontal {
      transform: rotate(90deg);
      transform-origin: 50% -3px;
    }
  }
}
